<!DOCTYPE html>

<html lang="en-US" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Power Law</title>
    <link rel="icon" href="src/main/resources/logo.svg">
    <link rel="stylesheet" href="src/main/resources/css/Chart.min.css">
</head>

<body>

<header>
    <h1 style="margin-top:16px; text-align: center;">Power Law</h1>
    <h3 style="text-align: center;">
        <span>Alpha:</span> <span th:text="${#numbers.formatDecimal(alpha, 1, 2)}" style="color: #F1444B;"></span>
        <span>Gamma:</span> <span th:text="${#numbers.formatDecimal(gamma, 1, 2)}" style="color: #49D43C;"></span>
    </h3>
    <h3 style="text-align: center;"><span>Total time:</span> <span th:text="${time.toSeconds()}"></span>s</h3>
</header>

<main style="width: 1600px; height: 800px; margin: auto">
    <canvas id="chart"></canvas>
</main>

<script src="src/main/resources/js/Chart.min.js"></script>
<script th:inline="javascript">
    let edgeCounts = /*[[${edgeCounts}]]*/ "default";
    let edgeCountFreq = /*[[${edgeCountFreq}]]*/ "default";

    let cxt = document.getElementById("chart").getContext("2d");
    let chart = new Chart(cxt, {
        type: "line",
        responsive: false,
        width: 500,
        height: 600,
        data: {
            labels: edgeCounts,
            datasets: [{
                label: "Frequency of Nodes by Edge Count",
                data: edgeCountFreq,
                borderColor: "#4A3BD2",
                fill: false
            }]
        },
        options: {
            scales: {
                xAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Edge Count',
                        fontStyle : 'bold',
                        fontSize : 18
                    },
                    ticks: {callback: (label) => `10^${Math.log10(label)}`}
                }],
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Number of Nodes',
                        fontStyle : 'bold',
                        fontSize : 18
                    },
                    ticks: {callback: (label) => `10^${label}`}
                }]
            }
        }
    });
</script>

</body>

</html>
